<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">rails-angular</a>
    </div>
  </div>
</nav>

<div class="container">
	<div class="text-right">
		<div class="btn-group">
			<a href="#/task/new" class="btn btn-default">
				<span class="glyphicon glyphicon-plus"></span>
		  	Cadastrar Tarefa
			</a>
		</div>
	</div>
	<br/>
	<div ng-view></div>
</div>