<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
      	<span class="glyphicon glyphicon-chevron-down"></span>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="event.preventDefault();">
          Editar Tarefa
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div ng-include="'../assets/task/form.html'"></div>
      </div>
    </div>
  </div>
</div>